:root {
  --primary-color: #720e42;
  --main-font: 'Oswald', sans-serif;
  --primaryColors: #101743;
  --backgroundColor: #121420;
  --boxShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --font-color: #ceb66f;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  background-color: var(--backgroundColor);
  color: var(--font-color);
}

/*navbar*/

.navbar-expand-lg {
  padding: 10px 20px;
  background-color: var(--primaryColors)
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: var(--font-color);
}

.btn {
  background-color: var(--primary-color);
  color: var(--font-color);
}

.intro-div {
  display: flex;
  flex-direction: column;
}

.intro-img {
  text-align: center;
}
.designer-part-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.designer-part-div h1 {
  margin: 20px 0;
  color: var(--font-color);
}

.display-work-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-work-div h5 {
  margin: 20px 0;
}

.work-snippets {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px;
}

.card {
  margin: 20px 0;
  box-shadow: var(--boxShadow);
}

.about-section {
  align-items: center;
}

.about-me-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 20px;
  text-overflow: clip;
}

.about-me-div h1 {
  margin: 20px 0;
}

.about-me-img {
  text-align: center;
}

.about-me-img img {
  box-shadow: var(--boxShadow);
  margin-bottom: 40px;
}

.cv-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: var(--boxShadow);
}

.display-leisure-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.display-leisure-time h5 {
  margin: 40px 0;
}


.hobby-imgs-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hobby-imgs {
  height: 100px;
  width: 100px;
  object-fit: cover;
  padding: 20px;
  gap: 20px;
  box-shadow: var(--boxShadow);
}

.designing-skill-div {
  text-align: center;
}

.designing-skill-div h1 {
  margin: 30px 0;
}

.qualities-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}

.designer-coder-img {
  height: 200px;
  width: 250px;
}

/* Timeline Container */
.timeline {
  background: var(--backgroundColor);
  margin: 20px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.outer {
  border-left: 2px solid #c5baba;
}

.card {
  position: relative;
  padding: 10px;
  background: rgb(255, 255, 255);
  color: gray;
  border-radius: 8px;
  max-width: 400px;
}

.card-timeline {
  margin: 0 0 20px 20px;
}


.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: var(--primaryColors);
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  left: -37px;
  border: 3px solid orangered;
}

.edu-exp-section h1 {
  margin: 40px;
}

.edu-exp-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* contact section */

.get-in-touch {
  max-width: 300px;
  margin: 50px auto;
  position: relative;
}

.title-contact {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.2em;
  line-height: 70px;
  padding-bottom: 48px;
  color: var(--font-color);
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color:black;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  border-radius: 3px;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 2px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: var(--primary-color);
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,
  -webkit-transform .2s ease-in-out;
}

.contact-form > div:last-child {
  text-align: center;

}

.contact-form .submit-btn {
  display: inline-block;
  background-color: var(--primary-color);
  background-image: linear-gradient(#c8557b, var(--primary-color));
  color: var(--font-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  width:200px;
  cursor: pointer;
  text-align: center;
}

/*footer*/

.footer-list {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: 0;
}

.footer-links {
  color: white;
  text-decoration: none;
  list-style: none;
}

.footer-div {
  width: 100%;
  background-color: var(--primaryColors);
  font-family: Menlo, monospace;
}

/* skills */

.skills-bar {
  display: flex;
  justify-content: center;
}

.box {
  width: 300px;
  height: 500px;
  padding: 25px 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

.box h1 {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.skillbox {
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;
}

.skillbox p {
  padding: 0;
  letter-spacing: 1px;
  margin: 0 0 15px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.skillbox p:nth-child(2) {
  float: right;
  position: relative;
  top: -25px;
}

.skill {
  box-sizing: border-box;
  background: #fff;
  border-radius: 8px;

}
.level {
  width: 100%;
  height: 15px;
  border-radius: 8px;
	}

@media only screen and (min-width: 768px) {
  .intro-div {
    flex-direction: row;
    margin: 40px 0;
  }

  .designer-part-div {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 10px;
  }

  .display-work-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .work-snippets {
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 10px;
  }

  .card {
    box-shadow: var(--boxShadow);
  }

  .about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px 0;
  }

  .about-me-div {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex: 0 0 30%;
    margin: 80px 0;
  }

  .about-me-img img {
    margin: 80px 0;
  }

  .qualities-div {
    flex-direction: row;
    justify-content: space-between;
  }

  .designer-coder-img {
    height: 300px;
    width: 300px;
  }

  .designing-skill-div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
  }

  .hobby-imgs-div {
    margin: 40px 0;
  }

  .hobby-imgs {
    height: 200px;
    width: 200px;
    object-fit: cover;
    padding: 10px;
    gap: 20px;
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end
  }

  .qualities-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0;
  }

  .edu-exp-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .get-in-touch {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
  }

  .footer-list {
    grid-auto-flow: column;
  }

  .footer-links {
    color: white;
    text-decoration: none;
  }

  .footer-links:hover {
    cursor: pointer;
  }

  .footer-div {
    line-height: 1.3;
    font-family: Menlo, monospace;
  }

  .box {
    width: 800px;
    height: 500px;
    padding: 25px 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
  }

  .title-contact {
    font-size: 3.2rem;
  }
}


@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end
  }

  .intro-div {
    justify-content: space-between;
    padding: 10px;
    margin: 85px 0;
  }

  .display-work-div {
    margin-top: 40px;
  }

  .work-snippets {
    justify-content: space-evenly;
  }

  .designing-skill-div {
    line-height: 2px;
  }

  .about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px 0;
  }

  .about-me-div {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex: 0 0 30%;
  }

  .about-me-img {
    flex-direction: row;
  }

}